<!doctype html>
<html>
<head>

  <% include _include/_headerInfo %>
</head>
<body>
<!--header S-->
<% include _include/_head %>
<!--header E-->

<!--content S-->
<div class="content clearfix">
  <!--menu S-->
    <% include _include/_menu %>
  <!--menu E-->

  <!--内容区域 S-->
  <div class="main_iframe fl">

  </div>
  <!--内容区域 E-->
</div>
<!--content E-->

</body>
</html>