<div class="header">
  <h1 class="fl"><img src="images/logo.png" alt="集客宝全球旅游分销系统" /></h1>
  <div class="fr">
    <a class="hd_photo"><img src="images/upload/photo.jpg"/><span>管理员</span></a>

    <a class="hd_one hdo4" href="/logout.html"><span>退出</span></a>
  </div>
</div>