<div class="header">
  <h1 class="fl"><img src="images/logo.png" alt="集客宝全球旅游分销系统" width="313" height="40"/><span>V2.1.0</span></h1>
  <div class="fr">
    <a class="hd_photo"><img src="images/upload/photo.jpg"/><span>管理员</span></a>

    <a class="hd_one hdo4"><span>退出</span></a>
  </div>
</div>