<div class="menu nano fl">
    <ul class="menu_fir nano-content">
        <li>
            <a class="menu_one"><img src="images/icon/ico01.png" data-img="images/icon/ico01_h.png"/><span>系统首页</span></a>
        </li>
        <li>
            <a class="menu_one"><img src="images/icon/ico02.png" data-img="images/icon/ico02_h.png"/><span class="has_chil">资源管理</span></a>
            <ul class="menu_child">
                <li><a class="sec_one" onClick="linkFrame('tabl-list.html')">景区资源</a></li>
                <li><a class="sec_one">酒店资源</a></li>
            </ul>
        </li>
        <li>
            <a class="menu_one"><img src="images/icon/ico03.png" data-img="images/icon/ico03_h.png"/><span class="has_chil">产品管理</span></a>
            <ul class="menu_child">
                <li><a class="sec_one">订单列表</a></li>
                <li><a class="sec_one">我的采购</a></li>
                <li><a class="sec_one">退款管理</a></li>
                <li><a class="sec_one">快速验证</a></li>
            </ul>
        </li>
        <li>
            <a class="menu_one"><img src="images/icon/ico04.png" data-img="images/icon/ico04_h.png"/><span>订单管理</span></a>
        </li>
        <li>
            <a class="menu_one"><img src="images/icon/ico05.png" data-img="images/icon/ico05_h.png"/><span>供应商管理</span></a>
        </li>
        <li>
            <a class="menu_one"><img src="images/icon/ico06.png" data-img="images/icon/ico06_h.png"/><span>分销商管理</span></a>
        </li>
        <li>
            <a class="menu_one"><img src="images/icon/ico07.png" data-img="images/icon/ico07_h.png"/><span class="has_chil">用户管理</span></a>
            <ul class="menu_child">
                <li><a class="sec_one">申请审核</a></li>
                <li><a class="sec_one">市州用户</a></li>
                <li><a class="sec_one">员工管理</a></li>
            </ul>
        </li>
        <li>
            <a class="menu_one"><img src="images/icon/ico08.png" data-img="images/icon/ico08_h.png"/><span class="has_chil">财务管理</span></a>
            <ul class="menu_child">
                <li><a class="sec_one">账单下载</a></li>
                <li><a class="sec_one">结算管理</a></li>
            </ul>
        </li>
        <li>
            <a class="menu_one"><img src="images/icon/ico09.png" data-img="images/icon/ico09_h.png"/><span class="has_chil">系统管理</span></a>
            <ul class="menu_child">
                <li><a class="sec_one">角色管理</a></li>
                <li><a class="sec_one">字典管理</a></li>
            </ul>
        </li>
    </ul>
</div>