<!doctype html>
<html>
<head>
  <% include ../_include/_headerInfo %>

</head>
<body >
<!--header S-->
<% include ../_include/_head %>
<!--header E-->


<!--content S-->
<div class="content clearfix">
  <!--menu S-->
  <% include ../_include/_menu %>
  <!--menu E-->

  <!--内容区域 S-->
  <div class="main_iframe">
    <!--posi S-->
    <div class="posi_box">
      <span>当前位置：</span><a>用户管理</a>-<a>用列表</a>
    </div>
    <!--posi E-->
    <div class="wrap_con" id="list_box">
      <div class="topd_box">
        <div class="sear_box oper_box clearfix">
          <input class="s_input com_input mt12 fl" type="text" placeholder="用户名称" name="userName">
          <input class="s_btn s_btn_search" type="button" value="搜索" @click="search" />
          <a class="oper_btn" @click="editUser"><img src="images/opa_add.png"/><span>新增</span></a>
          <a class="oper_btn" @click="delUsers"><img src="images/opa_dele.png"/><span>删除</span></a>
        </div>
      </div>

      <div class="tbl_out">
        <div class="tbl_scro">
          <table class="table_con" border="0" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
              <th class="tbl_chebox"><span class="checkbox_wrap checkbox_box all_list_box"><input class="check_init" type="checkbox" name="all_list"><label class="checkbox"></label></span></th>
              <th class="pos_rela tal_20"><p class="desc_box desc_arr">用户名</p></th>
              <th class="tal_15 txtc"><span>职位</span></th>
              <th class="tal_20 "><span>电话号码</span></th>
              <th class="tal_15"><span>邮箱</span></th>
              <th class="tbl_state tal_10"><span>用户状态</span></th>
              <th class="tbl_oper tal_15"><span>操作</span></th>
            </tr>
            </thead>
            <tbody>
              <tr v-if="entitys.length<=0">
                <td colspan="7" class="txtc"><span class="tip zwsj_tip">暂时没有数据！</span></td>
              </tr>
              <tr v-else="entitys.length>0" v-for="entity in entitys">
                <td class="tbl_chebox"><span class="checkbox_wrap checkbox_box list_ck_box"><input class="check_init" type="checkbox" name="list_ck" :value="entity.id"><label class="checkbox"></label></span></td>
                <td class="txtc"><p v-text="entity.username"></p></td>
                <td class="txtc"><p v-text="entity.role_name"></p></td>
                <td class="txtc"><p v-text="entity.tel"></p></td>
                <td class="txtc"><p v-text="entity.email"></p></td>
                <td class="txtc"><p v-html="entity.user_stat ==1 ? '<span class=green>启用</span>' :(entity.user_stat == 0 ? '<span class=orange>禁用</span>' : '<span class=gray>删除</span>' )"></p></td>
                <td class="tbl_oper"><span class="oper_span"><a @click="modifyUsers(entity.id)">编辑</a>|<a @click="delUsers(entity.id,entity.username)">删除</a></span></td>
              </tr>
            </tbody>
          </table>

          <vue-nav :parames="parames" :callback="callback" :filter-key="searchQuery"></vue-nav>

        </div>
      </div>
    </div>
  </div>
  <!--内容区域 E-->
</div>
<!--content E-->

<script src="/js/vue/vue-nav.js"></script>
<script src="/js/jquery.dropdaq.js"></script>
<script type="text/javascript">
  $(function(){

    var parames={
      url:'/user-list.html',
      method:'post',
      pageSize:10,
      cur:1,
      search:{}
    };

    new Vue({
      el: '.content',
      data:{
        parames: parames,
        entitys: {},
        searchQuery: {}
      },
      components:{
        'vue-nav': Vnav
      },
      methods:{
        callback:function(data) {
          this.entitys=data.data;
        },
        search: function() {
          this.parames.cur = 1;
          this.searchQuery =[{name:"userName",value:$('input[name="userName"]').val()}];

        },
        editUser:function(){
            var obj = this;
            layerEdit(0,0,obj);
        },
        modifyUsers:function(id){
          var obj = this;
          layerEdit(1, id, obj);
        },
        delUsers: function(id,userName){
            delFun('/user-del.html',userName,id);
        }

      }
    });
    //
    /**
     * 编辑用户信息
     * @param type 编辑类型（0添加，1编辑）
     * @param id 编辑ID
     * */
    function layerEdit(type,id,obj){

      layer.open({
        type: 1,
        title : "新增用户",
        skin: 'lay_tips_fk', //样式类名
        closeBtn: 1, //不显示关闭按钮
        shift: 0,
        yes: function(index, layero){
         var userBody = $("#userEdit").serialize(),
                 userUrl = '/user-edit.html';

          if(id > 0){
              userUrl ='/user-modify.html';
          }
          $.ajax({
            type:"post",
            url:userUrl,
            data: userBody,
            success: function(data){
              layer.close(index);
              if(data.status == 1){
                layer.msg(data.msg, {
                  icon: 6,
                  shift: 6,    // 出现的动画效果
                  time: 2000 //2秒关闭（如果不配置，默认是3秒）
                }, function(){
                   location.href=location.href;
                });
              }else{
                layer.open({
                  type: 1,  // 弹出层类型 0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                  skin: 'layui-layer-demo', //样式类名
                  closeBtn: 0, //不显示关闭按钮
                  shift: 6,    // 出现的动画效果
                  title : false, // 是否显示标题
                  time: 2000, //2s后自动关闭
                  area : ["160px", "110px"],  // 页面大小
                  shadeClose: true, //开启遮罩关闭
                  content: '<div class="smail_lay"><img src="./images/smile.png" /><p>'+data.msg+'</p></div>',
                  function(){ }
                });
              }
            }
          });
          // 提示信息
         // $('.lay_tiprow').addClass('lay_tipsuccess').html('<span class="tip success_tip">验证码已发送到您的手机，请注意查收！</span>');
        },
        cancel: function(index){

        },
        area: ['450px', '460px'],
        shadeClose: true, //开启遮罩关闭
        content: '<div class="tipcon_wrap tipcon_tjzd"><form id="userEdit"><input type="hidden" name="role_name"/><input type="hidden" name="Id"/>' +
        '<div class="input_row clearfix" ><label class="lab_default"><b class="mark">*</b>用户名：</label><input class="s_input s_input_fb w240" type="text" name="username"/></div>' +
        '<div class="input_row clearfix" ><label class="lab_default"><b class="mark">*</b>用户密码：</label><input class="s_input s_input_fb w240" type="password" name="passwords"/></div>' +
        '<div class="input_row clearfix" ><label class="lab_default fl">用户职位：</label><select class="select-sjzd" name="role_id"></select></div>' +
        '<div class="input_row clearfix" ><label class="lab_default fl">用户状态：</label><span class="radio_wrap tytk_radio"><input class="deRadio" type="radio" name="user_stat" checked="checked" value="1"><label class="radio tytk_radio active" name="user_stat"></label>启动</span><span class="radio_wrap tytk_radio"><input class="deRadio" type="radio" name="user_stat" value="0"><label class="radio tytk_radio" name="user_stat"></label>禁用</span> </div>' +
        '<div class="input_row clearfix" ><label class="lab_default">电话号码：</label><input class="s_input s_input_fb w240" type="text" name="tel"/></div>' +
        '<div class="input_row clearfix" ><label class="lab_default">电子邮箱：</label><input class="s_input s_input_fb w240" type="text" name="email"/></div>' +
        '<div class="layui-layer-btn layui-layer-btn-d"><a class="layui-layer-btn0">确定</a><a class="layui-layer-btn1">取消</a></div></form></div>'

      });
      $.ajax({
        type:"post",
        url:"/job.html",
        success: function(data){
          var str = '';
          data.entitys.forEach(function(item){
            str += '<option value="'+item.Id+'">' + item.role_name + '</option>';
          });
          $(".select-sjzd").html(str);

          if(id > 0){
            $.ajax({
              type:"get",
              url:"/user-modify.html",
              data:{id:id},
              success: function(data){
                var entity =data.entity;
                $("input[name='username']").val(entity.username);
                $("input[name='Id']").val(entity.Id);
                //$("input[name='passwords']").val(entity.passwords);
                $("input[name='tel']").val(entity.tel);
                $("input[name='email']").val(entity.email);
                $("input[name='user_stat'][value='"+entity.user_stat+"']").click();
                $(".select-sjzd").val(entity.role_id);
                $('.select-sjzd').dropDqDefault({
                  riInput : "",
                  change: function (value, text) {
                    console.log('You picked: ' + value + ':' + text);
                    $("input[name='role_name']").val(text);
                  }
                });
              }
            });
          }else{
            $('.select-sjzd').dropDqDefault({
              riInput : "",
              change: function (value, text) {
                console.log('You picked: ' + value + ':' + text);
                $("input[name='role_name']").val(text);
              }
            });
          }

        }
      });

    }


  });

  $('body').on('click', '.radio_wrap', function(e){
    radio($(this));
  })

</script>

</body>
</html>