<!doctype html>
<html>
<head>
  <% include ../_include/_headerInfo %>

</head>
<body >
<!--header S-->
<% include ../_include/_head %>
<!--header E-->


<!--content S-->
<div class="content clearfix">
  <!--menu S-->
  <% include ../_include/_menu %>
  <!--menu E-->

  <!--内容区域 S-->
  <div class="main_iframe">
    <!--posi S-->
    <div class="posi_box">
      <span>当前位置：</span><span>基础信息管理</span>-<a>职位管理</a>
    </div>
    <!--posi E-->
    <div class="wrap_con" id="list_box">
      <div class="topd_box">
        <div class="sear_box oper_box clearfix">
          <input class="s_input com_input mt12 fl" type="text" placeholder="职位名称" name="roleName">
          <input class="s_btn s_btn_search" type="button" value="搜索" @click="search" />
          <a class="oper_btn" href="/role-edit.html"><img src="images/opa_add.png"/><span>新增</span></a>

        </div>
      </div>

      <div class="tbl_out">
        <div class="tbl_scro">
          <table class="table_con" border="0" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
              <th class="txtl"><span>职位名称</span></th>
              <th class="tbl_oper tal_15"><span>操作</span></th>
            </tr>
            </thead>
            <tbody>
            <tr v-if="entitys.length<=0">
              <td colspan="2" class="txtc"><span class="tip zwsj_tip">暂时没有数据！</span></td>
            </tr>
            <tr v-else="entitys.length>0"  v-for="entity in entitys">
              <td class="txtl"><p v-text="entity.role_name"></p></td>
              <td class="tbl_oper">
                <span class="oper_span">
                  <a :href="'/role-modify.html?id=' + entity.id">编辑</a>
                </span>|<span class="oper_span">
                  <a @click="delRole(entity.id,entity.role_name)">删除</a>
                </span>
              </td>
            </tr>
            </tbody>
          </table>

          <vue-nav :parames="parames" :callback="callback" :filter-key="searchQuery"></vue-nav>

        </div>
      </div>
    </div>
  </div>
  <!--内容区域 E-->
</div>
<!--content E-->

<script src="/js/vue/vue-nav.js"></script>
<script src="/js/jquery.dropdaq.js"></script>
<script type="text/javascript">
  $(function(){
//参数
    var parames={
      url:'/role-list.html',
      method:'post',
      pageSize:10,
      cur:1,
      search:{}
    };

    new Vue({
      el: '.content',
      data:{
        parames: parames,
        entitys: {},
        searchQuery: {}
      },
      components:{
        'vue-nav': Vnav
      },
      methods:{
        callback:function(data) {
          this.entitys=data.data;
        },
        delRole: function(id,roleName){
            delFun('/role-del.html',roleName,id);
        },
        search: function() {
          this.parames.cur = 1;
          this.searchQuery =[{name:"roleName",value:$('input[name="roleName"]').val()}];

        }

      }
    });


  });
</script>

</body>
</html>